<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Rohan Programmer on 18/02/24, 6:42 pm
  ~  * Copyright (c) 2024 . All rights reserved.
  ~  * Last modified 18/02/24, 6:42 pm
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techvista.mvvmtest">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.techvista.mvvmtest.api.RetrofitClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMTest">
        <activity
            android:name="com.techvista.mvvmtest.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>